.footer {
    background: #1478AA;
  }
  
  button {
    background: transparent;
    border: none;
    outline: none;
  }
  
  .footer h5 {
    color: #fff;
    font-weight: 700;
    font-family: "play", sans-serif;
    margin-bottom: 35px;
  }
  
  .footer p {
    color: #fff;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 20px;
  }
  
  .footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer-social button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    color: #ffffff !important;
  }
  
  .footer-social button:not(:last-child) {
    margin-right: 6px;
  }
  
  .footer-body {
    padding-top: 45px;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    ul {
      padding-left: 0 !important;
    }
  }
  
  .footer-body li button {
    color: #fff;
    line-height: 32px;
    font-weight: 300;
  }
  
  .footer-body form input[type="text"] {
    padding: 1px 2px 1px 20px;
    background-color: transparent;
    height: 50px;
    width: 100%;
    border: 1px solid #cfcfcf;
    color: #fff;
  }
  
  .footer-body form input[type="text"]:focus {
    outline: none;
  }
  
  .footer-body form {
    position: relative;
  }
  
  .footer-body form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background: #00bfe7;
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-around;
    p {
      margin-bottom: 0 !important;
    }
  }
  
  .footer-bottom button {
    display: inline-block;
    color: #fff;
    position: relative;
  }